:root{
	--white: #fff;
	--black: #484848;
	--blue:  #2653B8;
	--dark_blue: #005DAB;
	--gray:  #555555;
	--Montserrat: 'Montserrat', sans-serif;
    --h2Size: 35px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
a:hover{
    text-decoration: none;
}

/*~~~~~~~~~~~~~~~~>> NAVBAR START <<~~~~~~~~~~~~~~~~~~~*/
.navbar-nav .nav-item .nav-link.dropdown-toggle::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 100%;
    position: absolute;
    /* background: #fff; */
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    top: 10px;
}
.navbar-nav .nav-item .nav-link.dropdown-toggle:hover:after{
    width:0;
    left: 100%;
}
#collapsibleNavbar{
	justify-content: inherit;
}
ul.navbar-nav {
    margin: 0 auto;
}
.navbar-brand{
	/*margin-left: 93px;*/
}
/* .navbar-brand img{
	width: 86px;
} */
.navbar-nav .nav-item{
	position: relative;
}
.navbar-nav .nav-item .nav-link{
	color: var(--white);
	font-family: var(--Montserrat);
	font-weight: 500;
	position: relative;
	padding: 0;
    margin: 0 16px;
}
/* .navbar-nav .nav-item .nav-link::after{
  	background: none repeat scroll 0 0 transparent;
  	bottom: 0;
  	content: "";
  	display: block;
  	height: 3px;
  	left: 50%;
  	position: absolute;
  	background: #fff;
  	transition: width 0.3s ease 0s, left 0.3s ease 0s;
  	width: 0;
} */
.navbar-nav .nav-item .nav-link:hover:after{
	width: 100%;
  	left: 0;
}
a.nav-link{
	margin: 0 10px;
}
/*------- SEARCH BUTTON START --------*/
.media_icons{
	display: flex;
	align-items: center;
    padding-right: 30px;
}
.header-search-wrapper {
	float: none;
	position: relative;
}
.search-main {
	display: block;
	line-height: 0;
	padding: 0;
	cursor: pointer;
	color: #fff;
	background: transparent;
}
.header-search-wrapper .search-form-main {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.15);
    box-shadow: 1px 1px 7px rgba(0,0,0,.15);
    border-top: 2px solid #408c40;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 160%;
    width: 300px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}
.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.header-search-wrapper .search-form-main {
    border-top-color: var(--white);
}
.header-search-wrapper .search-form-main:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #408c40;
    content: "";
    position: absolute;
    right: 0px;
    top: -8px;
}
.header-search-wrapper .search-form-main:before {
    border-bottom-color: var(--white);
}
.header-search-wrapper .search-form-main .search-field {
    border-radius: 0;
    padding: 4px 10px;
    width: 100%;
    float: left;
}
.header-search-wrapper .search-form-main .search-submit {
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    float: left;
    padding: 5px 0 10px;
    width: 25%;
    height: 36px;
    background: var(--black);
}
.button1 {
    background: /*linear-gradient(to right, #ffffff,#ffffff)*/;
    border-radius: 50px;
    color: #005DAB;
    display: inline-block;
    font-size: 16px;
    padding: 2px;
    text-decoration: none;
    margin: 0 0 0 9px;
    border: 2px solid #fff;
}
/*.button1:hover {
    background: transparent;
    border-radius: 50px;
    color: #FFF500;
    display: inline-block;
    font-size: 16px;
    padding: 2px;
    text-decoration: none;
}*/
.button1:hover svg{
   background:#FFF500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button1 span {
    background: transparent;
    display: block;
    padding: 5px;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    line-height:16px;
    text-align: center;
}
.button1 path{
  color:  #fff;
}
.button1:hover path{
  color:  #FFF500 ;
}
.button2{
	margin-right: 5px;
}
.media_icons a{
	color: var(--white);
    position: relative;
}
.media_space{
	padding: 0 0 0 20px;
}
.media_icons a .media_space::after{
    position: absolute;
    width: 6px;
    height: 6px;
    background: red;
}
/*a.heart{
    position: relative;
}
a.heart::before{
    position: absolute;
    content: 8;
}*/
.media_space::after{

}
/*~~~~~~~~~~~~~~~~~~~>> NAVBAR END <<~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~>> BANNER START <<~~~~~~~~~~~~~~~*/
.banner_main {
    position: relative;
    overflow: hidden;
  }

  .banner_sub {
    position: relative;
    z-index: 1;
  }

  .carousel_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .carousel_banner .item {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .carousel_banner .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




/* -------------------------------------------------------- */
.banner_main{
	/* background-image: url(../images/banner_bg.png); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.banner_sub{
	padding: 140px 0 0 0;
	color: var(--white);
}
.banner_img{
    text-align: right;
}
.banner_text h4{
	text-transform: uppercase;
	font-size: 30px;
	font-family: var(--Montserrat);
	font-weight: 700;
}
.banner_text h1{
	text-transform: uppercase;
	font-size: 42px;
	font-family: var(--Montserrat);
	font-weight: 700;
	padding: 10px 0 0 0;
}
.banner_text p{
	font-size: 15px;
	font-family: var(--Montserrat);
	padding: 16px 0 26px 0;
}
.banner_text button{
	background-color: var(--white);
	color: #005dab;
	font-size: 15px;
	font-weight: 600;
	font-family: var(--Montserrat);
	padding:11px 25px;
    transition: .4s ease all;
}
.banner_text button:hover{
    color: var(--white);
    background-color: #005dab;
}
.banner_text{
	padding-top: 120px;
}
.scrolled {
  min-height: 10px;
  background: #005DAB;
  transition: 0.35s all ease;
}
.navbar-toggler-icon {
    display: BLOCK;
    width: 23PX;
    height: 3PX;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-color: var(--white);
    margin: 5PX 0;
}
/*~~~~~~~~~~~~~~~~~~~~~>> BANNER END <<~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~>> ABOUT US START <<~~~~~~~~~~~~~*/
.about_main{
    padding: 100px 0 0 0;
    background-color: var(--white);
}
/* .about_sub{
    padding: 50px 0;
} */
.about_sub p{
    width: 858px;
    padding: 30px 0;
    margin: 0 auto;
    font-size: 15px;
    font-family: var(--Montserrat);
    color: var(--gray);
}
.about_sub h2{
    font-size: var(--h2Size);
    font-family: var(--Montserrat);
    font-weight: 700;
    text-transform: uppercase;
    color: #005dab;
}
.about_sub h5{
    font-size: 20px;
    padding: 0 0 11px 0;
    color: var(--black);
    font-family: var(--Montserrat);
}
.about_sub button{
    padding: 11px 25px;
    background-color: var(--white);
    border: 2px solid #005dab;
    border-radius: 0;
    color: #005dab;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s ease all;
}
.about_sub button:hover{
    background-color: #005dab;
    color: var(--white);
}
/*~~~~~~~~~~~~~~~~~~~~>> ABOUT US END <<~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~>> INSTANT OREDRE START <<~~~~~~~~~~~~~~~~*/
.instant_main{
    padding: 70px 0 25px 0;
}
.order_main{
    background-color:#005DAB;
   /* padding: 33px;*/
    padding: 22px 33px 52px 47px;
    border-radius: 10px;
    /*width: 470px;*/
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.order_logo{
    position: absolute;
    width: 70px;
    height: 70px;
    border: 3px solid #FFF500;
    border-radius: 50px;
    line-height: 62px;
    text-align: center;
    right: 0;
    top: -28px;
    background: #ffff;
}
.order_logo img{
    width: 35px;
}
.blue_border h4{
    color: var(--white);
    font-size: 25px;
}
.blue_border p{
    color: var(--white);
    font-size: 14px;
    font-family: var(--Montserrat);
    padding: 20px 0;
}
.input_fileds{
    display: flex;
}
.part_num input{
    width: 267px;
    margin: 15px 15px 15px 0;
}
.quality input{
    margin: 15px 15px 15px 0;
    width: 140px;
}
.part_num h6,.quality h6{
    color: var(--white);
    font-size: 19px;
    font-family: var(--Montserrat);
}
.blue_border button{
    background-color: var(--dark_blue);
    color: var(--white);
    border-radius: 0;
    text-transform: uppercase;
    font-family: var(--Montserrat);
    font-weight: 500;
    font-size: 14px;
    padding: 11px 25px;
    margin: 10px 10px 0 0;
    transition: .3s ease all;
}
.blue_border button:hover{
    background-color: var(--white);
    color: var(--dark_blue);
    font-weight: 500;
}

/*-----------SLIDER CSS--------*/

.owl-carousel-1  {
  transform: rotate(90deg);
  width: 270px;
  margin-top: 100px;
}

.swiper-slide .item {
  transform: rotate(-90deg);
}

.owl-carousel-1 .owl-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: calc(50% - 33px);
}

div.owl-carousel-1 .owl-carousel .owl-nav .owl-prev,
div.owl-carousel-1 .owl-carousel .owl-nav .owl-next {
  font-size: 36px;
  top: unset;
  bottom: 15px;
}
.slider {
  /*max-width: 1200px;
  margin: 0 auto;*/
}
.swiper-container {
    padding-bottom: 20px;
    overflow: hidden;
}
.swiper-scrollbar {
    background: transparent;
}

.swiper-container-horizontal > .swiper-scrollbar {
  height: 5px;
  width: 200px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}
.swiper-scrollbar-drag{
    height: 16px;
    width: 95px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: 0 0 5px #000;
}
.swiper-horizontal>.swiper-scrollbar{
    bottom: 12px;
}
.swiper-wrapper img {
  width: 100%;
}
.slider {
   /* width: 65%;*/
    height: 531px;
    overflow: auto;
}
.slider_content{
    display: flex;
    border: 1px solid #005dab;
    width: 95%;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
}
.swiper-slide.swiper-slide-active{
    width: 183.5px;
}
.slider_text h6{
    color: #005dab;
    font-size: 17px;
    font-family: var(--Montserrat);
}
.slider_text button{
    background-color: var(--white);
    color: var(--black);
    font-family: var(--Montserrat);
    padding: 0;
    font-size: 13px;
    font-weight: 700;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0 !important;
    right: auto;
    transform: rotate(-90deg);
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0px !important;
    left: auto;
    transform: rotate(-90deg);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    font-size: 16px;
    display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    font-size: 16px;
    display: none;
}
.swiper-button-next, .swiper-button-prev {
    bottom: -15px !important;
    top: unset;
    z-index: 100000;
}
.swiper-button-prev svg, .swiper-button-next svg {
    background: #005dab;
    color: var(--white);
    padding: 7px;
    position: relative;
    z-index: 11111111;
}


/* Buttons */
.slider::-webkit-scrollbar-button:single-button {
    background-color: #ece4e4;
    display: block;
    background-size: 10px;
    background-repeat: no-repeat;
}

.slider::-webkit-scrollbar {
  width: 12px;
  height: 90px;
}

.slider::-webkit-scrollbar-track {
  background: #fff;
  height: 90px;
}

.slider::-webkit-scrollbar-thumb {
/*  background-color: blue;*/
  border-radius: 0;
  box-shadow:0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 28%);
  height: 20%;
}

/* Buttons */
.slider::-webkit-scrollbar-button:single-button {
  background-color: #005dab;
  color: var(--white);
  display: block;
  /*border-style: solid;*/
  /*height: 13px;
  width: 16px;*/
}

/* Up */
.slider::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

.slider::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
.slider::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: red transparent transparent transparent;
  position: relative;
}
.slider::-webkit-scrollbar-button:single-button:vertical:increment::before{
    content: "";
  height: 60px;
  width: 60px;
  top: 12px;
  left: 30px;
  border-width: 8px 8px 0 0;
  border-color: red;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
}
.slider::-webkit-scrollbar-button:single-button:vertical:increment::after{
    content: "";
  height: 60px;
  width: 60px;
  top: 12px;
  border-width: 8px 8px 0 0;
  border-color: red;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
}
.slider::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
/*~~~~~~~~~~~~~~~~~~>> INSTANT OREDRE END <<~~~~~~~~~~~~~~~ */

/*~~~~~~~~~~~~~~~~~~>> LOREM IPSUM START <<~~~~~~~~~~~~~~~~*/
.lorem_main{
    background-image: url(../images/lorem.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    margin: 100px auto;
}
.lorem_overlay{
    height: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.lorem_heading h2{
    color: var(--white);
    /* padding: 120px 0 0 0; */
    font-size: var(--h2Size);
    font-family: var(--Montserrat);
}
/* .lorem_heading p{
    color: var(--white);
    font-size: 15px;
    font-family: var(--Montserrat);
    width: 570px;
    margin: 0 auto;
    padding: 20px 0;
} */

.lorem_heading p {
    color: var(--white);
    font-size: 15px;
    font-family: var(--Montserrat);
    /* width: 570px; */
    margin: 0 auto;
    padding: 12px 0;
}
.lorem_heading  button{
    background-color: var(--white);
    color: #000;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    padding: 11px 25px;
    font-family: var(--Montserrat);
    transition: .4s ease all;
}
.lorem_heading  button:hover{
    background-color: #005dab;
    color: var(--white);
}
/*~~~~~~~~~~~~~~~~~~~~>> LOREM IPSUM END <<~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~>> OUR PRODUCTS START <<~~~~~~~~~~~~~~~~*/
.product_title h2{
    color: #005dab;
    font-family: var(--Montserrat);
    font-size: var(--h2Size);
    font-weight: 700;
}
.product_title p{
     color: var(--gray);
    font-size: 15px;
    font-family: var(--Montserrat);
    width: 856px;
    margin: 0 auto;
    padding: 15px 0 40px 0;
}
.products_type .nav-tabs .nav-link{
    color: var(--gray);
    font-family: var(--Montserrat);
    font-size: 15px;
    font-weight: 600;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #000;
}
.nav-tabs .nav-link{
    border: 0;
}
.nav-tabs {
    border-bottom: 0;
}
.products_type a.nav-link {
    margin: 0;
    padding: 0 12px;
}
.product_card .card{
    border: 0;
    text-align: center;
    background-color: #F3F3F3;
}
.product_card .card .card-body{
    padding: 9px 0;
    background-color: #F3F3F3;
}
.product_card .card-body h5{
    color: #005dab;
    font-size: 15px;
    font-weight: 700;
    padding: 0 0 10px 0;
    font-family: var(--Montserrat);
    text-transform: uppercase;
    min-height: 46px;
}
.product_card button{
    border: 0;
    background-color:transparent;
    font-size: 13px;
    font-weight: 700;
    color: var(--black);
    cursor: pointer;
}
button:focus{
    outline: 0;
}
.product_main{
    padding: 0 0 70px 0;
}
.product_card{
    transition: .4s ease all;
    /* padding: 10px; */
    margin: 0 0 29px 0;
   /* background-color: red;*/
}
.product_card:hover{
    box-shadow: 0 0 8px #aeacac;
    transform: scale(1.1);
}
.search_drop{
    position: relative;
}
.search_drop svg{
    position: absolute;
    color: #005dab;
    top: 17px;
    left: 10px;
}
.search_drop input{
    padding:10px 10px 10px 34px;
    background: #F3F3F3;
    border: 0;
}
:focus-visible{
    outline: 0;
}
/*~~~~~~~~~~~~~~~~~~>> OUR PRODUCTS END <<~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~>> TESTIMONIALS START <<~~~~~~~~~~~~~*/
.testimonial_main{
    padding: 0 0 40px 0;
    background-color: var(--white);
}
.testimonial_title h2,.logo_title h2{
    color: #005dab;
    font-family: var(--Montserrat);
    font-size: var(--h2Size);
    font-weight: 700;
    padding: 20px 0 0 0;
}
.testimonial_title p{
    color: var(--gray);
    font-size: 15px;
    font-family: var(--Montserrat);
    width: 856px;
    margin: 0 auto;
    padding: 15px 0 30px 0;
}
.testi_card{
    background-color: var(--white);
    position: relative;
    box-shadow: 0 0 5px #aeacac;
    padding: 30px 44px;
    transition: .4s ease all    ;
}
.test_text{
    padding: 40px 0 0 0;
}
.test_img img{
    width: auto;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    top: 43px;
    z-index: 11;
}
.owl-carousel-2.owl-carousel .owl-item img {
    display: block;
    width: auto;
}
.owl-carousel-2 .item{
    margin:0 7px 11px 8px;
}
.test_text h5{
    color: var(--black);
    font-size: 17px;
    font-family: var(--Montserrat);
    padding: 0 0 5px 0;
}
.test_text h6{
    color: var(--black);
    font-size: 14px;
    font-family: var(--Montserrat);
}
.test_icon{
    width: 50px;
    height: 50px;
    margin: 13px auto;
    line-height: 60px;
    border-radius: 50px;
    background-color: #005dab;
    color: var(--white);
}
.testi_card p{
    color: var(--gray);
    font-family: var(--Montserrat);
    font-size: 15px;
}
.testi_card:hover{
    background-color: #005dab;
}
.testi_card:hover p{
    color: var(--white);
}
.testi_card:hover .test_icon{
    background-color: var(--white);
    color: #005dab;
}
.testi_card:hover h5{
    color: var(--white);
}
.testi_card:hover h6{
    color: var(--white);
}
.owl-carousel-2.owl-carousel .owl-dots{
    text-align: center;
}
.owl-carousel-2.owl-carousel button.owl-dot{
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    border-radius: 50px;
    margin: 2px;
}
.owl-carousel-2.owl-carousel button.owl-dot.active{
    background-color: #005dab;
}
.test_icon svg{
    font-size: 30px;
}
/*~~~~~~~~~~~~~~~~~~>> TESTIMONIALS END <<~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~>> PARTNER LOGO START <<~~~~~~~~~~~~*/
.logo_title p{
    color: var(--gray);
    font-size: 15px;
    font-family: var(--Montserrat);
    width: 856px;
    margin: 0 auto;
    padding: 0px 0 20px 0;
    /* padding: 15px 0 30px 0; */
}

/*.logo_img {
    text-align: right;
}*/
.logo_img_2{
    text-align: left;
}
.logo_img_2 img{
    margin: 0 0 0 50px;
}
.logo_img img{
    margin: 0 50px 0 0;
}
.partner_main{
    /* padding: 50px 0; */
    background-color: var(--white);
}
/*~~~~~~~~~~~~~~~~>> PARTNER LOGO END <<~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~>> FOOTER START <<~~~~~~~~~~~~~~~~~*/
footer{
    background-color: var(--dark_blue);
    color: var(--white);
}
.footer_sub{
    padding: 60px 0 20px 0;
}
.footer_logo p{
    padding: 20px 100px 20px 0;
    font-size: 15px;
    font-family: var(--Montserrat);
    line-height: 28px;
}
.quick_link h5,.footer_contact h5{
    font-size: 20px;
    font-family: var(--Montserrat);
    padding:17px 0 18px 0;
}
.quick_link ul{
    margin: 0;
    padding: 0;
}
.quick_link ul li{
    list-style-type: none;
    padding: 0 0 10px 0;
}
.quick_link ul li a{
    color: var(--white);
    font-size: 15px;
    font-family: var(--Montserrat);
    text-decoration: none;
    transition: .3s ease all;
}
.quick_link ul li a:hover{
    padding: 0 0 0 14px;
}
.number a{
    color: var(--white);
    text-decoration: none;
}
.number{
    padding: 0 0 10px 0;
    /* display: flex; */
}
.number span{
    font-size: 15px;
    font-family: var(--Montserrat);
    padding-left: 10px;
}
.footer_line{
    width: 100%;
    height: 1px;
    background-color: var(--white);
    margin: 31px auto;
}
/*~~~~~~~~~~~~~~~~>> FOOTER  END <~~~~~~~~~~~~~~~~~~*/
.heart_top a{
    position: relative;
}
/* .heart_top a::after{
    position: absolute;
    content: "8";
    width: 13px;
    height: 13px;
    background: #FFF500;
    border-radius: 50px;
    top: -3px;
    right: -8px;
    color: black;
    font-size: 11px;
    text-align: center;
    line-height: 13px;
} */
.heart_top2 a{
    position: relative;
}
.heart_top2 a::after{
    position: absolute;
    width: 13px;
    height: 13px;
    background: #FFF500;
    border-radius: 50px;
    top: -3px;
    right: -8px;
    color: black;
    font-size: 11px;
    text-align: center;
    line-height: 13px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> ABOUT PAGE START <<~~~~~~~~~~~~~~~~~~~~~~~*/
.navbar.about-navbar {
    background: var(--dark_blue);
}
.about_page{
    background-image: url(../images/banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.about_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    /* background-color: rgba(0, 0, 0, 0.4); */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.about_heading{
    padding-top: 285px;  /*250px*/
    text-align: center;
}
.about_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}
.about_content p{
    font-size: 15px;
    font-family: var(--Montserrat);
    color: var(--gray);
    padding: 50px 0 0 0;
    line-height: 28px;
}
.about_content.about_d p{
    padding: 20px 0 0 0;
    text-align: justify;
}
.about_content button{
    background-color: var(--dark_blue);
    color: var(--white);
    border-radius: 0;
    padding: 11px 25px;
    margin: 20px 0 30px 0;
    font-weight: 600;
    font-size: 16px;
    transition: .4s ease all;
    border: 2px solid var(--dark_blue);
}
.about_content button:hover{
    background-color: var(--white);
    color: var(--dark_blue);
    border: 2px solid var(--dark_blue);
}
.about_img{
    text-align: center;
    /*margin: 50px 0 0 0;*/
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>> ABOUT PAGE END <<~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CHECKOUT PAGE START <<~~~~~~~~~~~~~~~~~~~~~~~*/
.checkout_page{
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.checkout_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.checkout_heading{
    padding-top: 250px;
    text-align: center;
}
.checkout_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}

.billing_detail h3 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 35px;
    font-family: var(--Montserrat);
}

.checkout-input {
    margin-bottom: 20px;
}

.checkout-input label {
    font-weight: 500;
    color: #000;
    font-family: var(--Montserrat);
}

.checkout-input input, .checkout-input textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D5D8DB;
    color: #000;
    height: 50px;
    font-family: var(--Montserrat);
}

.checkout-input select {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D5D8DB;
    color: #000;
    height: 50px;
    font-family: var(--Montserrat);
}

.your_order h3 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 35px;
    font-family: var(--Montserrat);
}

.order_list {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0px;
}

.order_list h5 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.order_list p {
    font-size: 15px;
    color: #707070;
    font-weight: 400;
    font-family: var(--Montserrat);
}

.order_list span {
    font-size: 15px;
    color: #707070;
    font-weight: 400;
    font-family: var(--Montserrat);
}

.order_total {
    width: 100%;
    padding: 15px 0px;
}

.order_total h5 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.payment_item {
    padding-bottom: 5px;
}

.payment_item a {
    display: block;
    text-decoration: underline;
    color: #000;
    padding: 0px 30px 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: var(--Montserrat);
    font-weight: 500;
    border-bottom: 1px solid #d3d3d3;
}

.payment_item label {
    font-size: 15px;
    font-family: var(--Montserrat);
    font-weight: 500;
}

.checkout-agree {
    margin-bottom: 24px;
}

.checkout-option {
    margin-bottom: 4px;
}

.checkout-option label {
    font-size: 15px;
    color: #55585B;
    position: relative;
    padding-left: 5px;
    z-index: 1;
    font-weight: 400;
    font-family: var(--Montserrat);
}

.checkout_btn {
    width: 100%;
}

.checkout_btn a {
    color: #005dab;
    font-family: var(--Montserrat);
    display: block;
    text-align: center;
    padding: 12px 0px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #005dab;
    transition: 0.5s;
    border-radius: 5px;
    transition: 0.5s;
}

.checkout_btn a:hover {
    background-color: #005dab;
    color: var(--white);
    text-decoration: none;
}

.main_accordion {
    margin-bottom: 50px;
}

.main_accordion .login_accordion {
    width: 600px;
    margin-bottom: 10px;

}

.main_accordion .login_accordion .card-header {
    border: 1px dashed #686868;
    padding: 0 30px;
    border-radius: 0;
}

.main_accordion .login_accordion .card-header h5 {
    font-size: 16px;
}

.login_btn {
    padding: 8px 25px;
    font-weight: 600;
    border: 2px solid #005dab;
    color: #005dab;
    font-family: var(--Montserrat);
    transition: 0.5s;
}
.login_btn:hover {
    background-color: #005dab;
    color: var(--white);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CHECKOUT PAGE END <<~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CARD PAGE START <<~~~~~~~~~~~~~~~~~~~~~~~*/
.card_page{
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.card_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.card_heading{
    padding-top: 250px;
    text-align: center;
}
.card_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}

.product_detail {
    width: 100%;
}

.card_title a {
    color: #000;
    font-size: 14px;
    font-family: var(--Montserrat);
    font-weight: 500;
}

.card_title a:hover {
    color: #007bff;
    text-decoration: none;
}

.qty {
    width: 80px;
}

.coupon_form label {
    display: block;
}

.coupon_form input {
    padding: 10px 25px;
    width: 270px;
}

.coupon_btn {
    padding: 9px 20px;
    border: 2px solid #005dab;
    color: #005dab;
    font-size: 17px;
    font-weight: 500;
    transition: 0.5s;
}

.coupon_btn:hover, .update_card_btn:hover {
    background: #005dab;
    color: var(--white);
}

.update_card_btn {
    padding: 10px 20px;
    border: 2px solid #005dab;
    color: #005dab;;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.5s;
}

.sub {
    padding: 20px 0px;
    border-bottom: 1px solid #D5D8DB;
}

.sub h5 {
    font-size: 17px;
    font-family: var(--Montserrat);
    font-weight: 600;
}

.subtotal_list {
    list-style: none;
}

.subtotal_list p {
    font-size: 15px;
    font-weight: 600;
    font-family: var(--Montserrat);
    padding-bottom: 10px;
}

.proceed_btn {
    background: #005dab;
    color: var(--white);
    font-weight: 500;
    padding: 15px 35px;
    display: block;
    margin-top: 30px;
    text-align: center;
}

.proceed_btn:hover {
    color: var(--white);
    text-decoration: underline;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CARD PAGE END <<~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CATEGORIES PAGE START <<~~~~~~~~~~~~~~~~~~~~~~~*/
.category_page{
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.category_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.category_heading{
    padding-top: 250px;
    text-align: center;
}
.category_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}

.smartphone_box {
    overflow: hidden;
    position: relative;
}

.smartphone {
    background-image: url(../images/product-banner-1.jpg);
    min-height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.smartphone_box:hover .smartphone { transform: scale(1.1); }

.smartphone_text {
    width: 100%;
    position: absolute;
    top: 15px;
    left: 25px;
}

.smartphone_text span {
    font-size: 15px;
    color: #000;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.smartphone_text h2 {
    font-size: 20px;
    font-family: var(--Montserrat);
    font-weight: 700;
    margin-top: 15px;
    color: #000;
}

.smartphone_text h2 a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.smartphone_text h2 a:hover {
    color: #005dab;
}

.shop_now_btn {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: var(--Montserrat);
    font-weight: 500;
    color: #000;
    transition: 0.10s;
}

.shop_now_btn:hover {
    text-decoration: none;
    color: #005dab;
    padding-right: 10px;
}

.shop_now_btn svg {
    transition: 0.2s;
}

.shop_now_btn:hover svg {
    padding-left: 5px;
}

.wireless_box {
    overflow: hidden;
    position: relative;
}

.wireless {
    background-image: url(../images/product-banner-2.jpg);
    min-height: 260px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.wireless_box:hover .wireless { transform: scale(1.1); }

.wireless_text {
    width: 100%;
    position: absolute;
    top: 15px;
    left: 25px;
}

.wireless_text p {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    font-family: var(--Montserrat);
    margin-top: 10px;
}

.wireless_text h2 {
    font-size: 20px;
    font-family: var(--Montserrat);
    font-weight: 700;
    margin-top: 15px;
    color: #000;
}

.wireless_text h2 a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.wireless_text h2 a:hover {
    color: #005dab;
}

.shop_now_btn {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
    font-family: var(--Montserrat);
    font-weight: 500;
    color: #000;
    transition: 0.10s;
}

.shop_now_btn:hover {
    text-decoration: none;
    color: #000;
    padding-right: 10px;
}

.shop_now_btn svg {
    transition: 0.2s;
}

.shop_now_btn:hover svg {
    padding-left: 5px;
}

.product_box {
    margin-bottom: 30px;
}

.product_img {
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.product_img img {
    transition: 0.5s;
}

/* .product_box:hover .product_img img {
    transform: scale(1.2);
    transition: 0.5s;
} */

.product_text h6 {
    font-size: small;
    font-weight: 600;
    font-family: var(--Montserrat);
    color: #000;
    transition: 0.5s;
    padding: 0px 10px;
    /* min-height: 35px; */
}

.product_box:hover {
    transform: scale(1.03);
    transition: 0.5s;
}
.product_text h3{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--Montserrat);
    color: #000;
    transition: 0.5s;
    padding: 0px 10px;
    min-height: 35px;
}

.product_text h3:hover {
    color: #005dab;
}

.product_text span{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.load_more {
    font-size: 15px;
    color: #000;
    border: 2px solid #005dab;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 50px;
    font-weight: 500;
    transition: 0.5s;
}

.load_more:hover {
    background: #005dab;
    color: var(--white);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~>> CATEGORIES PAGE END <<~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~>> PRODUCT DETAIL PAGE START <<~~~~~~~~~~~~~~~~~*/

.product_detail_page{
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.product_detail_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.product_detail_heading{
    padding-top: 250px;
    text-align: center;
}
.product_detail_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}

.mobile_tabs {
    /* display: flex; */
    align-items: center;
}

.mobile_tabs .tab-content img {
    width: 100%;
}

.mobile_tabs .nav-link {
    display: block;
    padding: 0;
    border: 1px solid #fff  ;
    border-radius: 0;
    margin-bottom: 20px;
}

.mobile_tabs .nav-link:hover {
    border: 1px solid #000;
}

.mobile_tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border: 1px solid #000;
}

.samsung_galaxy span {
    font-size: 15px;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.samsung_galaxy h3 {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--Montserrat);
}

.samsung_galaxy p {
    font-size: 15px;
    color: #727272;
    font-weight: 400;
}

.samsung_galaxy strong {
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
    color: #000;
    font-weight: 700;
}

.samsung_galaxy strong span {
    color: #727272;
    text-decoration-line: line-through;
}

.stock {
    margin: 0;
    padding: 0;
}

.stock li {
    list-style: none;
    display: inline-block;
    font-size: 14px;
    padding: 10px 0px;
    font-weight: 500;
}

.stock li svg {
    color: #ffa500;
}

.color-picker {
    margin-top: 20px;
    padding: 0;
}

.color-picker li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-top: 10px;
}

.yellow {
    width: 30px;
    height: 30px;
    background: #ffa500;
    border-radius: 50px;
    display: inline-block;
}

.gray {
    width: 30px;
    height: 30px;
    background: #d1d1d1;
    border-radius: 50px;
    display: inline-block;
}

.black {
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50px;
    display: inline-block;
}

.brown {
    width: 30px;
    height: 30px;
    background: #6a1717;
    border-radius: 50px;
    display: inline-block;
}

.add_to_card {
    width: 240px;
    display: inline-block;
    background: #000;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    margin-top: 18px;
    transition: 0.5s;
}

.add_to_card:hover {
    color: var(--white);
    background: #005dab;
}

.quantity_form label {
    display: block;
    font-weight: 500;
}

.buy_now_btn {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding: 10px 0px;
    background: #005dab;
    color: var(--white);
    font-weight: 500;
    transition: 0.5s;
}

.buy_now_btn:hover {
    background: #000;
    color: var(--white);
}

.compare ul {
    margin: 20px 0px;
    padding: 0;
}

.compare ul li {
    list-style: none;
    display: inline-block;
    padding-right: 25px;
    color: #727272;
}

.social_icon li {
    padding-right: 10px !important;
}

.social_icon li a {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 2px solid #005dab;
    border-radius: 50%;
    line-height: 30px;
    color: #005dab;
    font-size: 14px;
    transition: 0.5s;
}

.social_icon li a:hover {
    background: #005dab;
    color: var(--white);
}

.secure {
    width: 100%;
    padding: 20px;
}

.additionnal_tab .nav-tabs {
    border-bottom: 2px solid #e1e1e1;
    justify-content: center;
}

.additionnal_tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    font-weight: 500;
}

.additionnal_tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    border-bottom: 2px solid #005dab;
}

.additionnal_tab .tab-content {
    margin: 80px 0;
}

.product-detail-desc-item {
    margin-top: 40px;
}

.glance span {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Montserrat);
}

.glance h3 {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--Montserrat);
    padding: 15px 0px;
}

.glance p {
    color: #727272;
}

.epic-races {
    max-width: 750px;
    margin: auto;
    text-align: center;
}

.epic-races h3 {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--Montserrat);
    padding: 15px 0px;
}

.additionnal_info table {
    border: 1px solid #e1e1e1;
    width: 100%;
}

.additionnal_info table td {
    padding: 15px 30px;
    font-weight: 400;
}


/*~~~~~~~~~~~~~~~~~~~>> PRODUCT DETAIL PAGE END <<~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~>> PROFILE PAGE START <<~~~~~~~~~~~~~~~~~*/

.profile_page{
    background-image: url(../images/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.profile_overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.profile_heading{
    padding-top: 250px;
    text-align: center;
}
.profile_heading h2{
    color: var(--white);
    font-size: var(--h2Size);
    font-weight: 700;
    font-family: var(--Montserrat);
}

.profile_tabs {
    display: flex;

}

.profile_tabs .nav-link {
    font-weight: 500;
    font-size: 15px;
    color: var(--tp-text-1);
    padding: 14px 30px;
    background-color: var(--tp-common-white);
    position: relative;
    border-radius: 0;
    text-align: left;
    border: 0;
}

.profile_tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #005dab;
    background-color: none;
}

/*~~~~~~~~~~~~~~~~~~~>> PROFILE PAGE END <<~~~~~~~~~~~~~~~~~*/
/* ****************************my css***************************** */

 .card-img-top {
    height: 300px;
    object-fit: fill;
}
img.img_tab_view_2 {
    height: 500px;
}

.add_cart {
    width: 400px;
    display: inline-block;
    background: #005DAB;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    transition: 0.5s;
    margin: 15px;
}
.qty {
    width: 32px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.input-text.qty.text.variant-qty {
    text-align: center;
    border-radius: 4px;
    border: 1px solid #737373;
}
input[type=number] {
    -moz-appearance: textfield;
  }


  .card-img-top {
    height: 260px;
    object-fit: contain;
}
.card{
    margin: 5px;
}

input#variant_qty {
    width: 60px;
}
.variant:hover {
    background-color: #1b3899; /* Change the background color to your desired color */
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
}
input.search_submit {
    width: 80px;
    height: 36px;
    margin-left: 5px;
}
.Ajax_search {
    display: flex;
}
.part_no{
    background-color: #777777;
    color: #000;
    border-radius: 3px;
}
.text-danger {
    color: #a94442;
}
.error{
    color: red;
}
.heart_top5.media_space {
    color: white;
}
.bx {
    font-family: "boxicons" !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.login_form_box {
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product_slider_img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
input#part_num {
    margin: 0px 15px 15px 0
}
input#quality {
    margin: 0px 15px 15px 0
}



.dropdown-menu1 {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

  }
  .dropdown-menu1 p {
    color: #000 !important;
    background: #aaa;
    margin: 0 auto;
    padding: 5px 2px 5px 2px;
    z-index: 1;
    position: relative;
  }


  .dropdown-item1 {
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown-item1:hover {
    background-color: #773434;
  }

  .response-list1 {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .response-item1 {
    padding: 5px 10px;
    cursor: pointer;
  }

  .product_img{
    overflow: hidden;
    height: 200px;
    object-fit: contain;


  }
  /* div#search-result {
    overflow: auto;
} */
  div#search-result {
    overflow: auto;
    position: absolute;
    z-index: 9999;
    background: #dddbd8;
    width: 395px;
    margin: auto;
}

  div#search_1-result {
    overflow: auto;
    position: absolute;
    z-index: 9999;
    background: #dddbd8;
    width: 225px;
    margin: auto;
}

.cart-count1 {
    display: inline-block;
    background-color: #FFF500;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;
    position: absolute;
    top: -8px;
    right: -8px;
}
/* count of wishlist && add to cart */

.heart_top {
    position: relative;
}

span.wishlist_products_counter_number {
    width: 15px;
    height: 15px;
    background: #FFF500;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    top: -4px;
    right: -11px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    position: absolute;

}


span.add_to_cart_counter_number {
    width: 15px;
    height: 15px;
    background: #FFF500;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    top: -4px;
    right: -11px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    position: absolute;

}

button.coupon_button {
    background: #005dab;
    color: var(--white);
    font-weight: 500;
    padding: 10px 35px;
    display: inline;
    margin-top: 30px;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    width: 200px;
}

.submit_form:hover{
    background-color: #005DAB;
    color: #fff;
 }
 .error {
    display: block;
    width: 100%;
}
.delete-icon {
    height: 33px;
    border: unset;
    position: relative;
    bottom: -21px;
    color: white;
}
.input_fields .input_fileds_row.input_fileds:nth-child(1) .delete-icon {
    position: relative;
    top: 41px;
}
.testi_card p {
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 112px;
}

img.testominal_img {
    width: 150px !important;
    width: 150px;
    height: 140px;
    border-radius: 100%;
    overflow: hidden;
}
input#register-button {
    width: 200px;
    height: 60px;
}

div:where(.swal2-container) {
    z-index: 9999999 !important;
}
.footer_text a {
    color: white;
}
button#add_rows {
    margin-left: 75px;
    background: #080909;
}button#add_to_cart{
    margin-left: 40px;
    background: #080909;
}

button.btn.btn-primary.btn-rounded {
    padding: 10px;
    width: 450px;
}
.details_btn{
    background: #005dab;
    color: var(--white);
    font-weight: 500;
    padding: 10px 35px;
    display: inline;
    margin-top: 30px;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    /* width: 200px; */
}
.signin_btn{
    background: #005dab;
    color: var(--white);
    border-radius: 4px;
}
.partner_main .owl-stage {
    display: flex;
    align-items: center;
}
.partner_main .owl-carousel .owl-item img {
    width: 200px;
}
.rr:hover{
    color: #eeda02;
}
.cart_hover:hover{
    background-color: #bbbec1;
    color: #000;
}
.db_data {
    display: flex;
    align-items: baseline;
}
/* ----------------product images------------- */
.mobile_tabs {
    display: flex;
  }

  .nav-pills {
    flex: 0 0 auto;
  }

  .nav-link img {
    width: 100px;
    height: auto;
    display: block;

    cursor: pointer;
  }

  .tab-content {
    flex: 1 1 auto;
    padding-left: 20px;
  }

  /* .tab-pane img {

    height: auto;
    display: block;
    margin-bottom: 20px;
    min-height: 246px !important;
  } */

  .tab-pane.fade {
    display: none;
  }

  .tab-pane.fade.show {
    display: block;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    background-color: unset !important;
}
.fixed-top {
    background: #005DAB;
}

.scrolled {
    background: #005DAB !important;
}
p.about_d {
    padding: 0px !important;
}

#story {
    width: 100%;
    margin-top: 50px;
}

.title_h2 {
    font-size: 36px;
    color: #373737;
    font-family: var(--Montserrat);
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.chromium_text h4 {
    font-family: var(--Montserrat);
    font-weight: 600;
    margin: 20px 0px;
    font-size: 20px;
}

.chart_img img {
    width: 100%;
}

#team {
    width: 100%;
    margin-top: 90px;
}

.main_box {
    width: 100%;
    background: #f6f6f6;
    padding: 50px 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.about_text{
    padding: 10px;
}
.team_box {
    border-radius: 5px;
    background: #fff;
    padding: 20px 10px;
    text-align: center;
    margin-top: 30px;
}

.member_img img {
    border-radius: 50%;
    width: 70%;
}

.member_text {
    margin-top: 30px;
}

.member_text h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--Montserrat);
}

.member_text span {
    font-size: 17px;
    font-weight: 700;
    font-family: var(--Montserrat);
    margin-bottom: 10px;
    display: block;
}

#client_testimonial {
    margin-top: 110px;
}

.happy_client {
    text-align: center;
}

.happy_client h2 {
    margin-bottom: 40px;
}

.clients_say {
    position: relative;
    background-color: #f0f7ff;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1.732px 60px 0px rgba(0, 0, 0, 0.01);
    border-radius: 5px;
}

.qt-icon {
    width: 20%;
    margin: auto;
    margin-bottom: 30px;
}

.testi-author {
    width: 25%;
    margin: 20px auto;
    border-radius: 50%;
}

.testi-author img {
    border-radius: 50%;
}

.ta-info h6 {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--Montserrat);
}

.ta-info span {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--Montserrat);
    margin-bottom: 20px;
    display: block;
}

#client_logo {
    background: var(--dark_blue);
    padding: 70px 0px;
    margin-top: 80px;
}

.client_logo-img {
    width: 100%;
    padding: 0 40px;
}

#contact {
    width: 100%;
    padding: 110px 0px;
}

.get-in-touch h3 {
    font-family: var(--Montserrat);
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    line-height: 24px;
}

.get-in-touch p {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.contact-detail {
    margin: 0;
    padding: 0;
}

.contact-detail li {
    list-style: none;
    color: #777;
    line-height: 40px;

}

.contact-detail li svg {
    margin-right: 10px;
    color: #0a2b75;
}

.social_media {
    margin-top: 30px;
    padding: 0;
}

.social_media li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.pr-50 {
    padding-right: 50px;
}

.social_media li a {
    text-decoration: none;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #0a2b75;
    border: 2px solid #0a2b75;
    transition: ease-in-out 0.5s;
}

.social_media li a:hover {
    background: #0a2b75;
    color: #fff;
}

.contact-form {
    width: 100%;
    margin-bottom: 20px;
}

.contact-form input {
    width: 100%;
    padding: 5px 10px;
}

.contact-form label {
    font-size: 14px;
    font-weight: 500;
}

.contact-form input:focus {
    border: 2px solid;
    border-color: #0a2b75;
    border-radius: 2px;
}

.contact-form textarea:focus {
    border: 2px solid;
    border-color: #0a2b75;
    border-radius: 2px;
}

.contact-form textarea {
    width: 100%;
    padding: 5px 10px;
}

.contact-form button {
    text-decoration: none;
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #0a2b75;
    border: 2px solid #0a2b75;
    transition: ease-in-out 0.5s;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.contact-form button:hover {
    background: #0a2b75;
    color: #fff;
}

#map_section {
    width: 100%;
    height: 450px;
}
/* --------------coupon button disable ----------------------- */
#applyCouponButton:disabled {
    background-color: #ccc; /* Change the background color to gray */
    color: #888; /* Change the text color to a lighter gray */
    cursor: not-allowed; /* Change the cursor to indicate the button is disabled */
  }

/* h1, h2, h3, h4, h5, h6 {
    font-family: 'URW DIN Condensed Bold' !important;
}

@font-face {
    font-family: 'URW DIN Condensed Bold';
    src: url('public/uploads/urw-din-condensed-bold.ttf') format('truetype');
} */
/* ---------------------------------- */

.panel.panel-default.side-nav, .panel.panel-default.form-panel {
    box-shadow: 0 0 6px 0 rgba(0,0,0,.15);
}
.panel.panel-default.side-nav>.panel-heading {
    color: #000;
    background-color: #fff;
    border-radius: 0;
    cursor: default;
}
.panel.panel-default.side-nav, .panel.panel-default.form-panel {
    border-top: 4px solid #005dab;
}
.panel-default {
    border-color: #ddd;
}
.panel-title>a {
    color: #000;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel.panel-default.side-nav>.panel-body {
    padding: 5px;
}
div.panel-body {
    border: none;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#accordion .collapse {
    padding-left: 12px;
}
.collapse.in {
    display: block;
}

.product_box {
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    border: #999 1px solid;
    border-bottom: #005dab 3px solid;
    padding: 5px;
    border-radius: 5px;
}
a.pro_link {
    color: black;
}
img.img-fluid.card-img-top {
    padding-bottom: 50px;
}
button.btn.btn-primary.mt-2.details_btn {
    margin: 10px;
}
.slider_text {
    padding: 0px 20px;
}
hr.similer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.1);
}

a.btn.btn-primary.mt-2.details_btn1 {
    background: #005dab;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    width: 200px;
}

/* -------------- */


.hover-image {
    position: relative;
    display: inline-block;
  }

  .hover-image .image {
    position: relative;
    overflow: hidden;
  }

  .hover-image img {
    display: block;
    width: 100%;
    height: auto;
  }

  .hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .hover-content:hover {
    opacity: 1;
  }

  .upper-link,
  .lower-link {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    pointer-events: auto;
  }

  .upper-link a,
  .lower-link a {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Adjust the background color or any other styles as needed */
  .upper-link {
    /* background-color: rgba(255, 0, 0, 0.5); */
    left: 0;
  }

  .lower-link {
    /* background-color: rgba(0, 0, 255, 0.5); */
    right: 0;
  }

section.banner_main {
    margin-top: 98px;
}

button#destroyButton {
    margin-bottom: 20px;
}
nav.navbar.navbar-expand-lg.fixed-top.scrolled {
    z-index: 9999999;
}
/* .table-responsive {

    overflow-x: unset !important;

} */
.cancel_print{
    display: flex;
}

/* -------user rating------------- */

.rating {
float: left;
height: 46px;
padding: 0 0px;
}
.rating:not(:checked) > input {
position:fixed;

}
.rating:not(:checked) > label {
float:right;
width:1em;
overflow:hidden;
white-space:nowrap;
cursor:pointer;
font-size:30px;
color:#ccc;
line-height: 22px;
}
.rating:not(:checked) > label:before {
content: '★ ';
}
.rating > input:checked ~ label {
color: #ffc700;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
color: #deb217;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
color: #c59b08;
}
.feedback_btn{
    background: #005dab;
    text-align: center;
    border: 0px;
    border-radius: 4px;
    width: 200px;
}
h6.rating {
    padding-top: 10px;
}
.col-lg-12.about {
    margin-top: 45px;
}
.about_title{
    color: #ffffff;
}


.Ajax_search {
    display: flex;
    padding: 0px 0px 0px 0px;
    background: #F3F3F3;
    border: 0;
    width: 395px;
}
a#dropdownMenuLink {
    color: #005dab;
    background-color: #ffffff;
    border-color: #ffffff;
}